body{
    background-image: linear-gradient(darkslategray,white);
    margin: 0 auto;
}
#headWrapper{
    background-image: url(/img/ship.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top;
}
header{
    padding: .5rem 2%;
    background-repeat: no-repeat;
    background-position: left top;
}

header {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 69px;
    padding-top: 1px;
}
header h1{
    margin-left: 80px;
    color: darkslategray;
}


/**
small size screens 
**/
@media screen and (max-width: 705px){
    main{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    nav {
        padding: .2rem;
        background-image: linear-gradient(#557b83, #39aea9);
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(#557b83, #39aea9);
        color: black;
        border: 3px solid #557b83;
        padding: 10px;
        border-radius: 25px;
        text-decoration: none;
        font-size: .9rem;
        text-align: center;
    }
    nav ul li a:hover {
        background-color: #a2d5ab;
        color: black;
    }
    nav ul li.active a {
        background-color: #000;
        color: #fff;
    }
    .active{
        color: #e5efc1;
    }
    .hero1{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 98%;
        margin-left: 1%;
    }
    h1{
        font-family: 'Righteous', cursive;
        color: #5b5151;
    }
    h3{
        font-family: 'Lobster', cursive;
        color: #5b5151;
    }
    .mainImg{
        width: 98%;
        margin-left: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    footer{
        text-align: center;
    }
    .outtro{
        font-size: 2rem;
        text-align: center;
    }
    #movies{
        font-size: 2.5rem;
    }

}
/**
Med to large size screens 
**/
@media screen and (min-width: 706px){
    #wrapper{
        max-width: 64rem;
        margin:auto;
    }
    h1{
        font-family: 'Righteous', cursive;
        color: #5b5151;
    }
    nav {
        background-image: linear-gradient(#ffffff, #134745);
        max-width: 64rem;
        width: 100%;
        height: 34px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin-left: 2%;
    }
    nav ul li {
        float: left;
        width: auto;
    }
    nav ul li a {
        display: block;
        color: black;
        border-left: 1px solid #777;
        padding: .5rem 1rem;
        text-decoration: none;
        font-size: .9rem;
        text-align: center;
        max-width: 75rem;
    }
    nav ul li:first-child a {
        border-left: 1px solid #777;

    }
    nav ul li:last-child a {
        border-right: 1px solid #777;
    }

    nav ul li a:hover {
        background-color: #a2d5ab;
        color: black;
    }
    nav ul li.active a {
        background-color: #000;
        color: #fff;
    }
    .active{
        background-image: linear-gradient(white, #e5efc1);
    }
    .hero1{
        max-width: 75rem;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mainImg{
        float: right;
        clip-path: circle(70% at 50% 50%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .outtro{
        margin-top: 5rem;;
        font-size: 2.5rem;
        text-align: center;
    }
    #movies{
        font-size: 2.5rem;
    }
    footer{
        text-align: center;
        position: relative;
        margin-top: 180px;
        padding-top: 3rem;
        clear: both;  
    }
}
